/*
Дизайн для карты Руин
*/
html {
    background: none ;
}
section div,
section a{
    text-align: center;
    vertical-align: middle;
}
a:hover {
    text-decoration: none;
}

body {
    background: none !important;
    font-size: 12px;
    font-family: proxima-nova, "Helvetica Neue", Arial, sans-serif;
}
menu {
    margin-top: 5px;
}

#ruins-table {
    margin-top: -5px;
}

#ruins-table > div {
    float: left;
}

i {
    display: block;
}
.battle,
.searched {
    color: red;
}

.stop,
.selected,
a:hover {
    color: #000;
}

.trap {
    color: #ff800d;
}

.icon-bolt {
    display: none !important;
}

.selected .icon-bolt {
    display: block !important;
    color: red !important;
    margin-bottom: 0.2em;
}

legend {
    margin-bottom: 0 !important;
    margin-left: -10px;
}

footer {
    margin-top: 10px;
    margin-left: 100px;
    float: left;
    width: 1200px;
    height: 100px;
}

div[data-x='12'][data-y='1'] .selected .icon-bolt,
div[data-x='1'][data-y='9'] .stop {
    color: #fff !important;
}

div[data-x='1'][data-y='1'] .stop,
div[data-x='12'][data-y='1'] .stop {
    color: white;
}

div[data-x='12'][data-y='1'] .battle {
    color: #4fc3ff;
}

div[data-x='12'][data-y='1'] .trap {
    color: #fff44a;
}

div[data-y='5'] {
    height: 54px !important;
}

div[data-y='5'] .center {
    height: 44px !important;
}

div[data-y='5'] .center a {
    height: 44px !important;
}

div[data-x='1'],
div[data-x='12'] {
    width: 70px !important;
}

div[data-x='1'] .center,
div[data-x='12'] .center {
    width: 60px !important;
}

div[data-x='2'] {
    width: 90px !important;
}

div[data-x='2'][data-y='0'] {
    width: 88px !important;
}

div[data-x='2'] .center {
    width: 80px;
}

div[data-x='2'] .top-border,
div[data-x='2'] .bottom-border {
    margin: 0 30px;
}

div[data-x='10'] {
    width: 108px !important;
}

div[data-x='10'] .center {
    width: 98px;
}

div[data-x='10'] .top-border,
div[data-x='10'] .bottom-border,
div[data-x='10'][data-y='4'],
div[data-x='10'][data-y='6'] {
    margin: 0 39px !important;
}

div[data-x='4'],
div[data-x='5'] {
    width: 106px !important;
}

div[data-x='4'] .center,
div[data-x='5'] .center {
    width: 96px;
}

div[data-x='4'] .top-border,
div[data-x='4'] .bottom-border,
div[data-x='5'] .top-border,
div[data-x='5'] .bottom-border {
    margin: 0 38px !important;
}

div[data-x='2'][data-y='4'],
div[data-x='2'][data-y='6'] {
    margin: 0 30px !important;
}

div[data-x='12'][data-y='9'] .center a:not(.searched) {
    background: rgb(252, 255, 244) !important; /* Old browsers */
    background: -moz-linear-gradient(left, rgba(252, 255, 244, 1) 0%, rgba(223, 229, 215, 1) 40%, rgba(179, 190, 173, 1) 100%) !important; /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(252, 255, 244, 1)), color-stop(40%, rgba(223, 229, 215, 1)), color-stop(100%, rgba(179, 190, 173, 1))) !important; /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(252, 255, 244, 1) 0%, rgba(223, 229, 215, 1) 40%, rgba(179, 190, 173, 1) 100%) !important; /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(252, 255, 244, 1) 0%, rgba(223, 229, 215, 1) 40%, rgba(179, 190, 173, 1) 100%) !important; /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(252, 255, 244, 1) 0%, rgba(223, 229, 215, 1) 40%, rgba(179, 190, 173, 1) 100%) !important; /* IE10+ */
    background: linear-gradient(to right, rgba(252, 255, 244, 1) 0%, rgba(223, 229, 215, 1) 40%, rgba(179, 190, 173, 1) 100%) !important; /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfff4', endColorstr='#b3bead', GradientType=1) !important; /* IE6-9 */
}

div[data-x='1'][data-y='1'] .center a:not(.searched) {
    background: rgb(125, 126, 125) !important; /* Old browsers */
    background: -moz-linear-gradient(left, rgba(125, 126, 125, 1) 0%, rgba(14, 14, 14, 1) 100%) !important; /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(125, 126, 125, 1)), color-stop(100%, rgba(14, 14, 14, 1))) !important; /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(125, 126, 125, 1) 0%, rgba(14, 14, 14, 1) 100%) !important; /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(125, 126, 125, 1) 0%, rgba(14, 14, 14, 1) 100%) !important; /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(125, 126, 125, 1) 0%, rgba(14, 14, 14, 1) 100%) !important; /* IE10+ */
    background: linear-gradient(to right, rgba(125, 126, 125, 1) 0%, rgba(14, 14, 14, 1) 100%) !important; /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7d7e7d', endColorstr='#0e0e0e', GradientType=1) !important; /* IE6-9 */
    box-shadow: 0px 0px 4px 2px rgba(14, 14, 14, 0.27) !important;
    -moz-box-shadow: 0px 0px 4px 2px rgba(14, 14, 14, 0.27) !important;
    -webkit-box-shadow: 0px 0px 4px 2px rgba(14, 14, 14, 0.27);
: 0 px 0 px 4 px 2 px rgba ( 14, 14, 14, 0.27 ) ) !important;
    -moz-box-shadow: 0px 0px 4px 2px rgba(14, 14, 14, 0.27) !important;
}

div[data-x='1'][data-y='1'] .center a:not(.searched),
div[data-x='12'][data-y='1'] .center a:not(.searched),
div[data-x='1'][data-y='9'] .center a:not(.searched) {
    color: white !important;
    text-shadow: none !important;
    outline: none !important;
}

div[data-x='12'][data-y='9'] .center a:not(.searched) {
    color: #000 !important;
    outline: none !important;

}

div[data-x='12'][data-y='1'] .center a:not(.searched) {
    background: rgb(255, 48, 25) !important; /* Old browsers */
    background: -moz-linear-gradient(left, rgba(255, 48, 25, 1) 0%, rgba(207, 4, 4, 1) 100%) !important; /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 48, 25, 1)), color-stop(100%, rgba(207, 4, 4, 1))) !important; /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(255, 48, 25, 1) 0%, rgba(207, 4, 4, 1) 100%) !important; /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(255, 48, 25, 1) 0%, rgba(207, 4, 4, 1) 100%) !important; /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(255, 48, 25, 1) 0%, rgba(207, 4, 4, 1) 100%) !important; /* IE10+ */
    background: linear-gradient(to right, rgba(255, 48, 25, 1) 0%, rgba(207, 4, 4, 1) 100%) !important; /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3019', endColorstr='#cf0404', GradientType=1) !important; /* IE6-9 */
    box-shadow: 0px 0px 4px 2px rgba(254, 109, 107, 0.69) !important;
    -moz-box-shadow: 0px 0px 4px 2px rgba(254, 109, 107, 0.69) !important;
    -webkit-box-shadow: 0px 0px 4px 2px rgba(254, 109, 107, 0.69);
: 0 px 0 px 4 px 2 px rgba ( 254, 109, 107, 0.69 ) ) !important;
    -moz-box-shadow: 0px 0px 4px 2px rgba(254, 109, 107, 0.69) !important;
}

div[data-x='1'][data-y='9'] .center a:not(.searched) {
    background: rgb(15, 163, 221) !important; /* Old browsers */
    background: -moz-linear-gradient(left, rgba(15, 163, 221, 1) 0%, rgba(35, 83, 138, 1) 99%) !important; /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(15, 163, 221, 1)), color-stop(99%, rgba(35, 83, 138, 1))) !important; /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(15, 163, 221, 1) 0%, rgba(35, 83, 138, 1) 99%) !important; /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(15, 163, 221, 1) 0%, rgba(35, 83, 138, 1) 99%) !important; /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(15, 163, 221, 1) 0%, rgba(35, 83, 138, 1) 99%) !important; /* IE10+ */
    background: linear-gradient(to right, rgba(15, 163, 221, 1) 0%, rgba(35, 83, 138, 1) 99%) !important; /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0fa3dd', endColorstr='#23538a', GradientType=1) !important; /* IE6-9 */
    box-shadow: 0px 0px 4px 2px rgba(95, 137, 254, 0.68) !important;
    -moz-box-shadow: 0px 0px 4px 2px rgba(95, 137, 254, 0.68) !important;
    -webkit-box-shadow: 0px 0px 4px 2px rgba(95, 137, 254, 0.68);
: 0 px 0 px 4 px 2 px rgba ( 95, 137, 254, 0.68 ) ) !important;
    -moz-box-shadow: 0px 0px 4px 2px rgba(95, 137, 254, 0.68) !important;
}

div[data-x='7'][data-y='5'] {
    display: none;
}

div[data-x='5'][data-y='4'],
div[data-x='8'][data-y='4'],
div[data-x='5'][data-y='6'],
div[data-x='8'][data-y='6'] {
    height: 20px !important;
    margin: 15px 0 !important;
    background: rgb(157, 213, 58); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(157, 213, 58, 1) 0%, rgba(161, 213, 79, 1) 50%, rgba(128, 194, 23, 1) 51%, rgba(124, 188, 10, 1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(157, 213, 58, 1)), color-stop(50%, rgba(161, 213, 79, 1)), color-stop(51%, rgba(128, 194, 23, 1)), color-stop(100%, rgba(124, 188, 10, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(157, 213, 58, 1) 0%, rgba(161, 213, 79, 1) 50%, rgba(128, 194, 23, 1) 51%, rgba(124, 188, 10, 1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(157, 213, 58, 1) 0%, rgba(161, 213, 79, 1) 50%, rgba(128, 194, 23, 1) 51%, rgba(124, 188, 10, 1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(157, 213, 58, 1) 0%, rgba(161, 213, 79, 1) 50%, rgba(128, 194, 23, 1) 51%, rgba(124, 188, 10, 1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(157, 213, 58, 1) 0%, rgba(161, 213, 79, 1) 50%, rgba(128, 194, 23, 1) 51%, rgba(124, 188, 10, 1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9dd53a', endColorstr='#7cbc0a', GradientType=0); /* IE6-9 */
}

div[data-x='2'][data-y='4'],
div[data-x='3'][data-y='4'],
div[data-x='10'][data-y='4'],
div[data-x='11'][data-y='4'],
div[data-x='2'][data-y='6'],
div[data-x='3'][data-y='6'],
div[data-x='10'][data-y='6'],
div[data-x='11'][data-y='6'] {
    margin: 0 35px;
    width: 30px !important;
}

div[data-x='2'][data-y='4'],
div[data-x='3'][data-y='4'],
div[data-x='10'][data-y='4'],
div[data-x='11'][data-y='4'],
div[data-x='2'][data-y='6'],
div[data-x='3'][data-y='6'],
div[data-x='10'][data-y='6'],
div[data-x='11'][data-y='6'],
.top .top-border,
.bottom .bottom-border {
    background: rgb(157, 213, 58); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(157, 213, 58, 1) 0%, rgba(161, 213, 79, 1) 50%, rgba(128, 194, 23, 1) 51%, rgba(124, 188, 10, 1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(157, 213, 58, 1)), color-stop(50%, rgba(161, 213, 79, 1)), color-stop(51%, rgba(128, 194, 23, 1)), color-stop(100%, rgba(124, 188, 10, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(157, 213, 58, 1) 0%, rgba(161, 213, 79, 1) 50%, rgba(128, 194, 23, 1) 51%, rgba(124, 188, 10, 1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(157, 213, 58, 1) 0%, rgba(161, 213, 79, 1) 50%, rgba(128, 194, 23, 1) 51%, rgba(124, 188, 10, 1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(157, 213, 58, 1) 0%, rgba(161, 213, 79, 1) 50%, rgba(128, 194, 23, 1) 51%, rgba(124, 188, 10, 1) 100%); /* IE10+ */
    background: linear-gradient(to right, rgba(157, 213, 58, 1) 0%, rgba(161, 213, 79, 1) 50%, rgba(128, 194, 23, 1) 51%, rgba(124, 188, 10, 1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9dd53a', endColorstr='#7cbc0a', GradientType=1); /* IE6-9 */
}

div[data-x='6'][data-y='5'] {
    width: 200px !important;
    height: 54px !important;
    font-size: 20px;
    outline: 1px darkgreen solid;
}

div[data-x="0"]>a,
div[data-x="6"][data-y="5"]>a {
    width: inherit;
    height: 54px;
    display: table-cell;
}

body a {
    color: #525252;
    font-weight: 500;
    line-height: 12px;
    text-shadow: 1px 1px 1px #d0d0d0;;
}

p {
    margin: 5px 0 !important;
}

.legend-icon {
    font-size: 18px !important;
}

.legend-text {
    font-size: 16px;
    color: #525252;
    margin-left: 15px
}

div[data-type=row] {
    min-width: 1200px;
}

div[data-type=row]>div {
    display: inline-block;
}

.selected,
.center:hover,
div[data-x="6"][data-y="5"]:hover,
.header-select,
.searched {
    background: rgb(169, 219, 128)!important; /* Old browsers */
    background: -moz-linear-gradient(left, rgba(169, 219, 128, 1) 0%, rgba(150, 197, 111, 1) 100%)!important; /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(169, 219, 128, 1)), color-stop(100%, rgba(150, 197, 111, 1)))!important; /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(169, 219, 128, 1) 0%, rgba(150, 197, 111, 1) 100%)!important; /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(169, 219, 128, 1) 0%, rgba(150, 197, 111, 1) 100%)!important; /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(169, 219, 128, 1) 0%, rgba(150, 197, 111, 1) 100%)!important; /* IE10+ */
    background: linear-gradient(to right, rgba(169, 219, 128, 1) 0%, rgba(150, 197, 111, 1) 100%)!important; /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a9db80', endColorstr='#96c56f', GradientType=1)!important; /* IE6-9 */
}

div[data-x="0"],
#ruins-table>div:nth-of-type(1)>div {
    background-color: #f2f2f2;
    background-image: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(100%, #f2f2f2));
    background-image: -moz-linear-gradient(90deg, #f2f2f2 0%, white);
    background-image: -ms-linear-gradient(90deg, #f2f2f2 0%, white);
    box-shadow: 0 1px #e5e5e5;
    -moz-box-shadow: 0 1px #e5e5e5;
    -webkit-box-shadow: 0 1px #e5e5e5;
    border-right: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
}

div[data-x="0"] {
    width: 20px !important;
    margin-left: -4px;
    border-bottom: 0;
}

#ruins-table>div:nth-of-type(1)>div {
    height: 20px !important;
    margin-left: 0;
    border-bottom: 0!important;
    margin-top: 1px !important;
}

#ruins-table>div:nth-of-type(1)>div:nth-of-type(n+2) {
    width: 99px;
}

#ruins-table>div:nth-of-type(1)>div a {
    color: #3b3b3b;
}

#ruins-table > div> div {
    height: 60px;
    width: 100px;
    position: relative;
}

.center {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 90px;
    height: 50px;
}

.top .top-border,
.bottom .bottom-border {
    z-index: -1;
}
.center a {
    outline: 1px darkgreen solid;
    width: inherit;
    height: 50px;
    display: table-cell;
}

.left .left-border,
.right .right-border {
    z-index: -1;
    background: rgb(157, 213, 58); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(157, 213, 58, 1) 0%, rgba(161, 213, 79, 1) 50%, rgba(128, 194, 23, 1) 51%, rgba(124, 188, 10, 1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(157, 213, 58, 1)), color-stop(50%, rgba(161, 213, 79, 1)), color-stop(51%, rgba(128, 194, 23, 1)), color-stop(100%, rgba(124, 188, 10, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(157, 213, 58, 1) 0%, rgba(161, 213, 79, 1) 50%, rgba(128, 194, 23, 1) 51%, rgba(124, 188, 10, 1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(157, 213, 58, 1) 0%, rgba(161, 213, 79, 1) 50%, rgba(128, 194, 23, 1) 51%, rgba(124, 188, 10, 1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(157, 213, 58, 1) 0%, rgba(161, 213, 79, 1) 50%, rgba(128, 194, 23, 1) 51%, rgba(124, 188, 10, 1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(157, 213, 58, 1) 0%, rgba(161, 213, 79, 1) 50%, rgba(128, 194, 23, 1) 51%, rgba(124, 188, 10, 1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9dd53a', endColorstr='#7cbc0a', GradientType=0); /* IE6-9 */
}

.left-border,
.right-border {
    position: absolute;
    top: 5px;
    height: 20px;
    width: 4px;
    margin: 15px 0;
}
.left-border {
    left: 0;
}

.right-border {
    right: 0;
}

.bottom-border,
.top-border {
    position: absolute;
    left: 0;
    width: 30px;
    margin: 0 35px;
    height: 5px;
}
.bottom-border {
    bottom: -1px;
}

.top-border {
    top: -1px;
}

.header-select a {
    color: #fff !important;
}
#logo{
    position: absolute; top:5px; right: 30px
}
/*#logo a{*/
    /*color: #ff7453;*/
/*}*/
/*#logo a:hover{*/
    /*text-decoration: underline;*/
    /*color*/
/*}*/

@media all and (min-device-width: 1450px) {

    menu {
        float: right;
        margin-top: 30px;
        margin-right: 50px;
    }

    #ruins-map {
        clear: left;
    }
}

@media all and (min-device-width: 1600px) {

    menu {
        margin-right: 150px;
    }
}